<!doctype html>
<html>
<head>
    <title>Профиль</title>
</head>
<body>
<ul>
    <li><a class="menu_button" href="/profile/find_friends">Найти друзей</a></li>
    <li><a class="active_button" href="/game/home">Играть</a></li>
    <li><a class="menu_button" href="/profile/stats">Статистика</a> </li>
</ul>
</body>
</html>