<!doctype html>
<html>
<head>
    <title>Авторизация</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket.js"></script>
<div id="data"></div>
<div><%= data %></div>
</body>
</html>