<!doctype html>
<html>
<head>
    <title>Socket.IO Example</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('sendToClient', function (data) {
        document.writeln(data);
        socket.emit('receivedFromClient', { my: 'От Клиента: ' + new Date() });
    });
</script>
</body>
</html>