<!doctype html>
<html>
<head>
    <title>Создание новой игры</title>
</head>
<body>
<div class="header">Создание стола</div>
<form action="/game/create_table" method="post">
    <button type="submit">Создать</button>
</form>
</body>
</html>