<!doctype html>
<html>
<head>
    <title>Создание новой игры</title>
</head>
<body>
<div class="header">Создание стола</div>
<ul>
    <li><a class="menu_button" href="/game/table">Играть</a></li>
</ul>
</body>
</html>