<!doctype html>
<html>
<head>
    <title>"Козел"</title>
</head>
<body>
<div class="header">Выберете действие</div>
<ul>
    <li><a class="menu_button" href="/game/create_table">Создать стол</a></li>
    <li><a class="active_button" href="/game/join_table">Присоединиться к Игре</a></li>
</ul>
</body>
</html>