<!doctype html>
<html>
<head>
    <title>Присоединение к игре</title>
</head>
<body>
<div class="header">Выберете стол</div>
<ul>
    <li><a class="menu_button" href="/game/table">Играть</a></li>
</ul>
</body>
</html>